.contact__header {
  display: flex;
  /* width: 33rem; */
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > h1 {
    text-align: center;

    border-radius: 10px;
    box-shadow: 10px 10px 45px 1px rgba(15, 231, 235, 0.75);
    -webkit-box-shadow: 10px 10px 45px 1px rgba(15, 231, 235, 0.75);
    -moz-box-shadow: 10px 10px 45px 1px rgba(15, 231, 235, 0.75);
    padding: 15px;
  }
  & > p {
    text-align: center;
    border-bottom: 2px solid crimson;
    padding-bottom: 0;
  }
}

.map__contact {
  display: flex;
  flex-flow: row wrap;
  .map {
    flex: 2;
  }
  .contact__me {
    background-image: url('../../assets/images/workingSchedule.jpg');
    flex: 1;
    text-align: center;
    & > h2 {
      color: white;
    }
    & > ul li {
      color: white;
    }
  }
}

iframe {
  width: 100%;
  height: 50vh;
}
