.main__Btn {
  padding: 9px;
  outline: none;
  border: 2px solid rgb(99, 148, 226);
  box-shadow: 1px 1px 7px 5px #3e86ff;
  border-radius: 35px;

  &:hover {
    background-color: cadetblue;
  }
  a {
    &:hover {
      color: chartreuse;
    }
  }
  &:first-child {
    margin-bottom: 1em;
  }
}
