.img {
  margin-bottom: 3rem;
  img {
    width: 100%;
    margin-top: -2em;
  }
}

.my {
  position: absolute;
  top: 1em;
  /* text-align: center; */
  left: 37%;
  font-size: 2rem;
  display: flex;
  flex-flow: column wrap;
  & > span {
    text-align: center;

    a {
      color: #41ff00;
    }
  }
}
.mainLogo {
  position: absolute;
  top: 9rem;
  left: 49%;
}

.btn__Header {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2rem;
  position: absolute;

  top: 1rem;
  left: 2rem;
}
