.content__Services {
  & > h2 {
    width: 400px;
    text-align: center;
  }
}
.images__Right {
  img {
    width: 450px;
    float: right;
    border-radius: 50%;
    shape-outside: circle(44.32% at 263px 139px);
    border: 1px solid crimson;
    margin-right: 13em;
    margin-left: 2em;
  }
}

.text__Left {
  padding-left: 1rem;
  p {
    &::first-letter {
      color: red;
      font-size: 3em;
    }
  }
}

//! SECOND BLOCK
.content__Second {
  height: 66vh;

  padding: 15px;
  margin: 3rem 1rem 1rem 1rem;
  border-radius: 50px;
  box-shadow: inset 1px -1px 12px 1px #67e5df;

  & > h2 {
    text-align: center;
    margin-left: 9em;
  }

  & > .wrapper__Services {
    display: flex;

    & > .images__Right img {
      float: left;
      margin-right: 8em;
    }

    & > .text__Left {
      width: 100%;
      position: relative;
      top: 3em;
      line-height: 31px;
    }
  }
}

//! THIRD BLOCK

.content__Three {
  & h2 {
    text-align: center;
  }
}

.text__Left {
  & > ol {
    & > li::marker {
      font-size: 1.1em;
      color: coral;
    }
    & > li:first-child {
      padding-bottom: 15px;
    }
    & > li::first-letter {
      font-size: 2em;
      color: red;
    }
  }

  & > .last__img {
    transform: translate(30%, 10px);
    border-radius: 40px;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .content__Services {
    display: flex;
    flex-flow: column wrap;
    & > h2 {
      width: 320px;
    }

    & > .wrapper__Services {
      display: flex;
      flex-flow: column;
      align-items: center;

      & > .images__Right img {
        width: 300px;
        margin: 0;
      }
    }
  }

  .content__Second {
    height: 90vh;
    h2 {
      margin-left: 0;
    }

    & > .wrapper__Services {
      flex-flow: column wrap;

      & > .images__Right img {
        width: 300px;
        margin: 0;
      }
    }
  }

  .content__Three {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;

    & > .wrapper__Services {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      & > .images__Right img {
        width: 300px;
        margin: 0;
      }
    }
  }

  .last__img {
    width: 200px;

    margin-right: 8rem;
  }

  .text__Left {
    & > ol {
      padding: 11px;
    }
  }
}
