.content__Services {
  & > h2 {
    width: 400px;
    text-align: center;
  }
}
.images__Right {
  img {
    width: 250px;
    float: right;
    border-radius: 50%;
    shape-outside: circle(44.32% at 263px 139px);
    border: 1px solid crimson;
    margin-right: 13em;
    margin-left: 2em;
  }
}

.text__Left {
  padding-left: 1rem;
  p {
    &::first-letter {
      color: red;
      font-size: 3em;
    }
  }
}

//! SECOND BLOCK
.content__Second {
  height: 66vh;

  padding: 15px;
  margin: 3rem 1rem 1rem 1rem;
  border-radius: 50px;
  box-shadow: inset 1px -1px 12px 1px #67e5df;

  & > h2 {
    text-align: center;
    margin-left: 9em;
  }

  & > .wrapper__Services {
    z-index: 59;
    & > .images__Right img {
      float: left;
      margin-right: 18em;
    }

    & > .text__Left {
      width: 62rem;
      position: relative;
      top: 3em;
      line-height: 31px;
    }
  }
}

//! THIRD BLOCK

.content__Three {
  & h2 {
    text-align: center;
  }
  & > .wrapper__Services {
    & > .images__Right img {
      width: 450px;
    }
  }
}

.text__Left {
  & > ol {
    & > li::marker {
      font-size: 1.1em;
      color: coral;
    }
    & > li:first-child {
      padding-bottom: 15px;
    }
    & > li::first-letter {
      font-size: 2em;
      color: red;
    }
  }
}

.last__img__plumb {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  & > .last__img__1,
  .last__img__2 {
    width: 300px;

    border-radius: 40px;
    margin-bottom: 3rem;
  }
}
